*.egg
*.egg-info
*.pyc
*.pid
*$py.class
*.pt.py
*.txt.py
*.ropeproject
.Python
.channel
src/
zookeeper/
*~
.coverage
.tox/
nosetests.xml
build/
dist/
bin/
lib/
man/
include/
cassandra.pid
cassandra
deps
docs/_build
zookeeper.out
