*.egg
*.egg-info
*.log
*.pyc
*.pid
*$py.class
*.pt.py
*.sock
*.txt.py
*.ropeproject
.Python
.channel
src/
zookeeper/
*~
.coverage
.tox/
nosetests.xml
build/
cassandra
dist/
bin/
lib/
man/
include/
deps
docs/_build
zookeeper.out
